.popup__error_form {
  text-align: center;
  color: currentColor;
  font-size: 17px;
}

.popup__error_form::after {
  content: "😔";
  display: inline-block;
  font-size: 20px;
  margin-inline-start: 5px;
}